/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Custom
   ========================================================================== */
/* line 12, ../sass/sass/main.scss */
q {
  display: block;
}

/* line 17, ../sass/sass/main.scss */
#sidebar {
  min-height: 50px;
  min-width: 200px;
  float: left;
}
/* line 21, ../sass/sass/main.scss */
#sidebar .affix-top {
  position: static;
  margin-top: 30px;
}
/* line 25, ../sass/sass/main.scss */
#sidebar .affix {
  position: fixed;
  top: 60px;
}

/* line 31, ../sass/sass/main.scss */
.title-header .affix {
  position: fixed;
  top: 1030px;
}

/* line 37, ../sass/sass/main.scss */
#OnlineCourses .row {
  height: 400px;
}

/* line 41, ../sass/sass/main.scss */
.info {
  position: relative;
  bottom: 0;
}

/* line 46, ../sass/sass/main.scss */
.logo {
  vertical-align: middle;
  margin-bottom: 20px;
}

/* line 50, ../sass/sass/main.scss */
#intro, #StarterResources {
  margin-bottom: 600px;
}

/* line 58, ../sass/sass/main.scss */
li.active,
li.active:hover,
li.active:focus {
  background: #9CF;
}

/* line 63, ../sass/sass/main.scss */
li.active a,
li.active:hover a,
li:focus a {
  color: blue;
}

/* line 67, ../sass/sass/main.scss */
.carepackage {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -moz-animation: 3s ease 0s normal none infinite swing;
  -moz-transform-origin: center top;
  -webkit-animation: swing 3s infinite ease-in-out;
  -webkit-transform-origin: top;
}

/* line 80, ../sass/sass/main.scss */
.title {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  font-family: Garamond, serif;
  line-height: 1em;
  color: #fff9d6;
  font-weight: bold;
  font-size: 94px;
  text-shadow: 0px 0px 0 #dedede, 1px 1px 0 #d1d1d1, 2px 2px 0 #c5c5c5, 3px 3px 0 #b8b8b8, 4px 4px 0 #acacac, 5px 5px 0 #9f9f9f, 6px 6px 0 #939393, 7px 7px 0 #878787, 8px 8px 7px rgba(0, 0, 0, 0.35), 8px 8px 1px rgba(0, 0, 0, 0.5), 0px 0px 7px rgba(0, 0, 0, 0.2);
}

@-moz-keyframes swing {
  /* line 94, ../sass/sass/main.scss */
  0% {
    -moz-transform: rotate(-4deg);
  }

  /* line 95, ../sass/sass/main.scss */
  50% {
    -moz-transform: rotate(4deg);
  }

  /* line 96, ../sass/sass/main.scss */
  100% {
    -moz-transform: rotate(-4deg);
  }
}

@-webkit-keyframes swing {
  /* line 99, ../sass/sass/main.scss */
  0% {
    -webkit-transform: rotate(-4deg);
  }

  /* line 100, ../sass/sass/main.scss */
  50% {
    -webkit-transform: rotate(4deg);
  }

  /* line 101, ../sass/sass/main.scss */
  100% {
    -webkit-transform: rotate(-4deg);
  }
}

/* ==========================================================================
  Clouds
========================================================================== */
/* line 106, ../sass/sass/main.scss */
#clouds {
  padding: 100px 0;
  height: 1024px;
  background: #c9dbe9;
  background: linear-gradient(to bottom, #b5dbe9 0%, #ffffff 100%);
}

/*Time to finalise the cloud shape*/
/* line 117, ../sass/sass/main.scss */
.cloud {
  width: 200px;
  height: 60px;
  background: #fff;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: relative;
}

/* line 128, ../sass/sass/main.scss */
.cloud:before, .cloud:after {
  content: '';
  position: absolute;
  background: #fff;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

/* line 144, ../sass/sass/main.scss */
.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

/*Time to animate*/
/* line 150, ../sass/sass/main.scss */
.x1 {
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
/* line 157, ../sass/sass/main.scss */
.x2 {
  left: 200px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;
  /*opacity proportional to the size*/
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

/* line 171, ../sass/sass/main.scss */
.x3 {
  left: -250px;
  top: -200px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

/* line 184, ../sass/sass/main.scss */
.x4 {
  left: 470px;
  top: -250px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}

/* line 197, ../sass/sass/main.scss */
.x5 {
  left: -150px;
  top: -150px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
  /* line 211, ../sass/sass/main.scss */
  0% {
    margin-left: 1000px;
  }

  /* line 212, ../sass/sass/main.scss */
  100% {
    margin-left: -1000px;
  }
}

@-moz-keyframes moveclouds {
  /* line 215, ../sass/sass/main.scss */
  0% {
    margin-left: 1000px;
  }

  /* line 216, ../sass/sass/main.scss */
  100% {
    margin-left: -1000px;
  }
}

@-o-keyframes moveclouds {
  /* line 219, ../sass/sass/main.scss */
  0% {
    margin-left: 1000px;
  }

  /* line 220, ../sass/sass/main.scss */
  100% {
    margin-left: -1000px;
  }
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 228, ../sass/sass/main.scss */
html, button, input, select, textarea {
  color: #222;
}

/* line 232, ../sass/sass/main.scss */
html {
  font-size: 1em;
  line-height: 1.5;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 243, ../sass/sass/main.scss */
::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 252, ../sass/sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 266, ../sass/sass/main.scss */
audio, canvas, img, video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 274, ../sass/sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 284, ../sass/sass/main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 292, ../sass/sass/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 311, ../sass/sass/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
/* line 317, ../sass/sass/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 329, ../sass/sass/main.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 338, ../sass/sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 348, ../sass/sass/main.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 368, ../sass/sass/main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 384, ../sass/sass/main.scss */
.clearfix {
  *zoom: 1;
}
/* line 385, ../sass/sass/main.scss */
.clearfix:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 391, ../sass/sass/main.scss */
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 426, ../sass/sass/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 433, ../sass/sass/main.scss */
  a {
    text-decoration: underline;
  }
  /* line 435, ../sass/sass/main.scss */
  a:visited {
    text-decoration: underline;
  }
  /* line 438, ../sass/sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 442, ../sass/sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 448, ../sass/sass/main.scss */
  .ir a:after {
    content: "";
  }

  /* line 452, ../sass/sass/main.scss */
  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 456, ../sass/sass/main.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 460, ../sass/sass/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 464, ../sass/sass/main.scss */
  tr {
    page-break-inside: avoid;
  }

  /* line 467, ../sass/sass/main.scss */
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 475, ../sass/sass/main.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 479, ../sass/sass/main.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
